# From https://wiki.archlinux.org/title/Graphics_tablet#Permanent_configuration
# This is ran with udev
[Unit]
Description=set up script for drawing tablets
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
# Ensure table is properly loaded, failed when done too early
ExecStartPre=/bin/sleep 1
ExecStart=%h/bin/huion.sh

[Install]
WantedBy=graphical-session.target
